---
import ProjectsSection from "./ProjectsSection.astro";
---

<section class="aboutpage w-2/3">
  <p class="my-8">
    My main skills in the front-end development are React.js, TaiwlindCSS and
    the Astro framework. Of course, besides the fundamentals: JavaScript, CSS,
    and HTML.
  </p>
</section>
<ProjectsSection />
