---
import ProjectsSection from "./ProjectsSection.astro";
const projectCategory = "front-end";
---

<section class="aboutpage w-full md:w-2/4">
  <p class="my-8">
    I domain the fundamentals: JavaScript, HTML, and CSS. In addition to that I
    have experience developing projects and solving problems using React.js,
    TailwindCSS, and the Astro framework. For a more detailed list of my skills
    check my <a href="/about">About page</a>.
  </p>
</section>
<ProjectsSection projectCategory={projectCategory} />
