---
import ProjectsSection from "./ProjectsSection.astro";
const projectCategory = "front-end";
---

<section class="aboutpage w-full md:w-2/4">
  <p class="my-8">
    I have experience developing projects using React.js, TailwindCSS, and the
    Astro framework. Below you can check the front-end projects I have
    developed. <span class="font-bold text-black dark:text-white"
      >All projects are deployed and ready to be used</span
    > on different platforms like Netlify, and Github pages.
  </p>
</section>
<ProjectsSection projectCategory={projectCategory} />
