---
import ProjectsSection from "./ProjectsSection.astro";
const projectCategory = "front-end";
---

<section class="aboutpage w-full md:w-2/4">
  <p class="my-8">
    My favorite tools to develop web applications are React.js, TailwindCSS, and
    Astro. Explore my deployed projects below. Each one is a live, working
    application you can try for yourself.
  </p>
</section>
<ProjectsSection projectCategory={projectCategory} />
