@import url("./sentients.css");
@import url("./inter.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* global styles */
* {
    box-sizing: border-box;
}
body {
    @apply my-10 mx-auto px-3 max-w-4xl leading-normal font-sentient-regular bg-slate-100 dark:bg-night dark:text-slate-100;
}
h2,h3,h4,h5,h6 {
    @apply font-inter-black;
}
h1 {
  @apply text-8xl leading-relaxed text-center font-inter-black;
}
h2 {
    @apply text-5xl leading-relaxed;
}
p {
    @apply text-xl text-slate-500 dark:text-slate-400;
}
a {
    @apply font-mono text-xl text-slate-500 hover:text-slate-900 dark:text-slate-400 dark:hover:text-white;
}
button {
    @apply bg-slate-300 px-3 py-1 rounded-md dark:bg-slate-600;
}

/* component classes */
.navbar {
    @apply flex justify-center my-8 relative;
}
.navbar a {
    @apply px-6 mx-0 font-bold;
}

.navbar a:hover {
    @apply text-black dark:text-white;
}


/* Special classes */
.marker-yellow {
    @apply dark:text-slate-800;
        background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=yellow-300);
        margin: -2px -6px;
        padding:  2px  6px;
}
.marker-blue {
    @apply dark:text-slate-800;
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=blue-200);
    margin: -2px -6px;
    padding:  2px  6px;
}
.marker-pink {
    @apply dark:text-slate-800;
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=pink-200);
    margin: -2px -6px;
    padding:  2px  6px;
}
.marker-orange {
    @apply dark:text-slate-800;
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-9&color=orange-300);
    margin: -2px -6px;
    padding:  2px  6px;
}
.marker-green {
    @apply dark:text-slate-800;
    background: url(https://s2.svgbox.net/pen-brushes.svg?ic=brush-10&color=green-200);
    margin: -2px -6px;
    padding:  2px  6px;
}