---

---

<div class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger {
    @apply relative block md:hidden z-40;
    cursor: pointer;
  }

  .hamburger .line {
    @apply block mb-2 bg-night dark:bg-white;
    width: 30px;
    height: 2px;
  }
</style>
