---
const { currentPath } = Astro.props;
---

<!-- Pages -->
<div class="navbar-content flex flex-col items-center">
  <a
    href="/"
    class={currentPath === "/" ? "navbar-link-active" : "navbar-link"}>Home</a
  >
  <a
    href="/about"
    class={currentPath === "/about" ? "navbar-link-active" : "navbar-link"}
    >About</a
  >
  <a
    href="/projects/frontend"
    class={currentPath === "/projects/frontend" ? "navbar-link-active" : "navbar-link"}
    >Projects</a
  >
  <a
    href="/blog"
    class={currentPath === "/blog" ? "navbar-link-active" : "navbar-link"}
    >Blog</a
  >
  <div class="mt-10 md:mt-0">
    <button id="theme-toggle"> M </button>
  </div>
</div>
