---
import Hamburger from "./Hamburger.astro";
import NavContent from "./NavContent.astro";
const { currentPath } = Astro.props;
---

<nav>
  <Hamburger />
  <NavContent currentPath={currentPath} />
</nav>
