---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home";
const subTitle =
  "Hi! I am physics graduate with strong foundations in data analysis and computational methods. My other professional interests are web development and 3D art and modeling in which I am developing projects often.";
---

<BaseLayout pageTitle={pageTitle} subTitle={subTitle}>
  <ul class="flex m-20 justify-center">
    <li><a href="" class="mx-6">Github</a></li>
    <li><a href="" class="mx-6">Codepen</a></li>
  </ul>
</BaseLayout>
