---
import ProjectsSection from "../ProjectsSection.astro";
const projectCategory = "creative-coding";
---

<section class="aboutpage w-full md:w-2/4">
  <p class="my-8">
    My favorite tools to develop creative coding projects are p5.js, Processing,
    and Vanilla JavaScript. Here I share my projects and experiments.
  </p>
</section>
<ProjectsSection projectCategory={projectCategory} />
