---
import SkillsSection from "./SkillsSection.astro";
---

<section class="aboutpage w-full md:w-2/4">
  <p class="my-8">
    My name is Aaron, a physicist with strong analytical and programming skills
    seeking to transition into data science or AI engineering. Experienced in
    statistical modeling, data visualization, and scientific computing, also
    with experience in full-stack development. Actively expanding expertise in
    machine learning and applied data analysis. You can visit my dedicated
    porfolio
    <a href="https://sci-portfolio.netlify.app/" target="_blank"
      ><span class="marker-yellow font-redditmono-bold">here!</span></a
    >
  </p>
  <p class="my-8">
    Besides that, I'm also a creative coder, and a 3D artist. I enjoy
    experimenting with new technologies, and I'm always looking for new
    challenges. I'm also a big fan of video games, and I love to create my own
    games.
  </p>
  <SkillsSection />
</section>
