---
import SkillsSection from "./SkillsSection.astro";
---

<section class="aboutpage w-full md:w-3/4">
  <p class="my-8">
    If you are interested in my artistic portfolio, you can click <a href=""
      ><span class="marker-yellow">here!</span></a
    > If you'd like to explore my porfolio centered in data science and scientific
    projects click <a href="https://sci-portfolio.netlify.app/"
      ><span class="marker-orange">here!</span></a
    > :D
  </p>
  <SkillsSection />
</section>
