---
import MyStack from "./MyStack.astro";
---

<section class="aboutpage w-2/3">
  <p class="my-8">
    If you are interested in my artistic portfolio, you can click <a href=""
      ><span class="marker-yellow">here!</span></a
    > If you'd like to explore my porfolio centered in data science and sciencific
    projects click <a href=""><span class="marker-orange">here!</span></a> :D
  </p>
  <MyStack />
</section>
