---
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<section class="blogpage">
  <p>
    If I found something interesting or useful to sahre, I will share i here!
  </p>
  <ul class="mt-12 list-decimal font-inter-regular pl-12">
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</section>
