<section class="homepage w-1/2">
  <!-- Subtitle -->
  <div class="text-slate-400">
    <h3>I live happily at the intersection of science, art, and technology.</h3>
    <p class="mt-10">
      Hi! I am Aaron. I am a physicist, a developer and a artist. In this site
      you will find all my profesional and hobby projects and the skills I have.
    </p>
    <p class="mt-4">
      Currently I'm <strong>open for professional opportunities</strong>, I am
      preferably looking for remote positions, but I am also open to hybrid
      positions and a possible country relocation.
    </p>
    <p class="mt-4">Let's get in touch and start working!</p>
  </div>

  <!-- Socials -->
  <ul class="flex mt-20">
    <li>
      <a href="https://github.com/iaaron-xyz" target="_blank" class="mr-6">
        Github
      </a>
    </li>
    <li><a href="" target="_blank" class="mx-6">Codepen</a></li>
    <li><a href="" target="_blank" class="mx-6">LinkedIn</a></li>
  </ul>
</section>
