<section class="homepage w-full md:w-3/4 lg:w-2/4">
  <!-- Subtitle -->
  <div class="text-slate-500 dark:text-slate-300">
    <h3>I live happily at the intersection of science, art, and technology.</h3>
    <p class="mt-10">
      Hi, I'm Aaron — a physicist, developer, and artist passionate about
      blending science, art, and thechnology. Welcome to my personal site, from
      data science and physics simuations to creative coding and 3D art, here
      you'll find a collection of my profesional and personal projects.
    </p>
    <p class="mt-4">
      I'm currently open to work on remote roles, but I'm also open to hybrid
      arrangements and relocation for the right opportunity.
    </p>
    <p class="mt-4">Let's connect and bring ideas to life — together!</p>
  </div>

  <!-- Socials -->
  <ul class="flex mt-20">
    <li>
      <a href="https://github.com/iaaron-xyz" target="_blank" class="mr-6">
        Github
      </a>
    </li>
    <!-- <li><a href="" target="_blank" class="mx-6">Codepen</a></li> -->
    <li><a href="" target="_blank" class="mx-6">LinkedIn</a></li>
  </ul>
</section>
