<section class="text-xl">
  <!-- Stack of skills title -->
  <div class="my-8">
    <h2>SKiLLS & KNOWLEDGE</h2>
    <p>My set of skills and knowledge I feel comfortable with.</p>
  </div>

  <!-- Skills -->
  <div class="font-mono">
    <ul>
      <li class="py-2">
        <strong>Programming languages:</strong>
        <br /> JavaScript &bull; Python &bull; Julia
      </li>

      <li class="py-2">
        <strong>Front-end technologies:</strong><br />
        HTML &bull; CSS &bull; React.js &bull; TailwindCSS &bull; Astro
      </li>

      <li class="py-2">
        <strong>Back-end technologies:</strong><br />
        Node.js &bull; Express.js &bull; Django
      </li>

      <li class="py-2">
        <strong>Data science and Computational Science:</strong><br /> Excel (Advanced)
        &bull; NumPy &bull; Pandas &bull; Matplotlib &bull; Jupyter Notebooks &bull;
        Pluto (Julia Notebooks)
      </li>

      <li class="py-2">
        <strong>Other markup languages:</strong><br /> Markdown &bull; LaTeX
      </li>

      <li class="py-2">
        <strong>Coding Tools:</strong><br /> VSCode &bull; Git &bull; Github &bull;
        Prettier
      </li>

      <li class="py-2">
        <strong>Artistic Tools:</strong><br /> Photoshop &bull; Krita &bull; Illustrator
        &bull; Inkscape
      </li>
    </ul>
  </div>
</section>
