<section class="text-xl">
  <!-- Stack of skills title -->
  <div class="my-8">
    <h2>SKiLLS & TOOLS</h2>
    <p>My set of skills and tools I feel comfortable with.</p>
  </div>

  <!-- Skills -->
  <div class="font-mono my-8 bg-yellow-200 p-4 rounded-lg dark:bg-slate-800">
    <ul>
      <li class="py-4">
        <strong>Programming languages:</strong>
        <br /> JavaScript &bull; Python &bull; Julia
      </li>

      <li class="py-4">
        <strong>Front-end technologies:</strong><br />
        HTML &bull; CSS &bull; React.js &bull; TailwindCSS &bull; Astro
      </li>

      <li class="py-4">
        <strong>Back-end technologies:</strong><br />
        Node.js &bull; Express.js &bull; Django
      </li>

      <li class="py-4">
        <strong>Data science and Computational Science:</strong><br /> Excel (Advanced)
        &bull; NumPy &bull; Pandas &bull; Matplotlib &bull; Seaborn &bull; Jupyter
        Notebooks &bull; Pluto (Julia Notebooks)
      </li>

      <li class="py-4">
        <strong>Other markup languages:</strong><br /> Markdown &bull; LaTeX
      </li>

      <li class="py-4">
        <strong>Game development:</strong><br /> Unreal Engine 5 &bull; PyGame
      </li>

      <li class="py-4">
        <strong>Coding Tools:</strong><br /> VSCode &bull; Git &bull; Github &bull;
        Prettier
      </li>

      <li class="py-4">
        <strong>Artistic Tools:</strong><br /> Photoshop &bull; Krita &bull; Illustrator
        &bull; Inkscape &bull; Blender
      </li>
    </ul>
  </div>
</section>
