---
import ProjectCategories from "./projects/ProjectCategories.astro";
---

<section class="aboutpage w-full md:w-2/4">
  <p class="my-8">
    All my favorite projects by category.
  </p>
</section>
<ProjectCategories/>
