---
import { skills } from "@portfolio";
---

<section>
  <!-- Stack of skills title -->
  <div class="my-8">
    <h2>SKiLLS & TOOLS</h2>
    <p>My set of skills and tools I feel comfortable with.</p>
  </div>

  <!-- Skills -->
  <div
    class="my-8 bg-yellow-200 p-4 rounded-lg dark:bg-night border border-yellow-700"
  >
    <ul>
      {
        skills.map((skill) => {
          return (
            <li class="py-4">
              <strong>
                {skill.category}:<br />
              </strong>
              <span>{skill.skills.join(" • ")}</span>
            </li>
          );
        })
      }
    </ul>
  </div>
</section>
