.post-section {
    margin: 5% 28% 5% 28%;
    font-size: larger;
}

pre {
    white-space: pre-line;
}

.code {
    font-family: 'JetBrains Mono', monospace;
    font-size: smaller;
    padding: 10px;
    background-color: black;
    color: #b2fba5;
    font-weight: bold;
    border-radius: 10px;
}

/*RESPONSIVE*/
@media only screen and (max-width: 820px) {
    /* For mobile phones: */
    .post-section {
        margin: 5% 15% 5% 15%;
    }
}

@media only screen and (max-width: 412px) {
    /* For mobile phones: */
    .title-2 {
        font-size: 25px;
    }
    h3 {
        font-size: 22px;
    }
    .post-section {
        font-size: 16px;
    }
}