body {
    background-color: #202124;
    color: #f1f1f1;
    font-family: 'JetBrains Mono', monospace;
}

h1 {
    text-align: center;
}

/* Links */
a {
    text-decoration: None;
    color: #919191;
    font-weight: bold;
}
a:hover {
    color: #e1e1e1;
}

/* Navbar styling */
.topbar {
    /*margin: auto 30% auto 30%;*/
    margin: 0 auto;
}
.list-non-style {
    list-style-type: none;
}
.list-non-style > li {
    display: inline;
}

/* Text sections */
h1 {
    font-family: 'Press Start 2P', 'JetBrains Mono', monospace;
}
.title-2{
    margin: 0;
}
.sub-title {
    margin: 0;
    font-weight: lighter;
    color: #a1a1a1;
}
.about-section {
    margin: 5% 30% 5% 30%;
}