:root {
    --second-text-color: #778394;
    --svg-fill: none;
}

.logo-stroke {
    stroke: var(--second-text-color);
}
.logo-fill {
    fill: var(--second-text-color);
}
.home-logo {
    max-height: 30px;
}

.content-width {
    width: 550px;
}
