---
import "../styles/global.css";
const { pageTitle, subTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kb16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Homepage | iaaron</title>
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
  </head>
  <body>
    <nav class="navbar">
      <div>
        <a href="/">home</a>
        <a href="/about">about</a>
      </div>
      <div>
        <button id="theme-toggle"> darkmode </button>
      </div>
    </nav>
    <h1>{pageTitle}</h1>
    <p class="text-xl">{subTitle}</p>
    <slot />
    <noscript
      ><style>
        body {
          visibility: visible;
        }
      </style></noscript
    >
  </body>

  <!-- scripts -->
  <script>
    import "../scripts/themeToggle";
  </script>
</html>
