---
import "../styles/global.css";
const { pageTitle, blogTitle } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Prevent Flash of Unstyled Content (FOUC)  -->
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kb16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Homepage | iaaron</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="navbar">
      <div>
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/blog">blog</a>
      </div>
      <div class="ml-auto">
        <button id="theme-toggle"> M </button>
      </div>
    </nav>

    <!-- Titles: Renders bases if it's for a page title or blog title -->
    {pageTitle && <h1>{pageTitle}</h1>}
    {
      blogTitle && (
        <h1 class="leading-none text-left text-6xl mt-20 font-inter-regular">
          {blogTitle}
        </h1>
      )
    }

    <!-- Content -->
    <slot />
  </body>

  <!-- Styles -->
  <style is:global>
    /* global styles */
    * {
      box-sizing: border-box;
    }
    body {
      @apply my-10 mx-auto px-3 max-w-4xl leading-normal font-sentient-regular bg-slate-100 dark:bg-night dark:text-slate-100;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-inter-black my-4;
    }
    h1 {
      @apply text-8xl leading-relaxed text-center font-inter-black;
    }
    h2 {
      @apply text-4xl leading-normal;
    }
    h3 {
      @apply text-3xl;
    }
    p {
      @apply text-xl text-slate-500 dark:text-slate-400;
    }
    a {
      @apply font-inter-regular text-xl text-slate-500 hover:text-slate-900 dark:text-slate-400 dark:hover:text-white;
    }
    button {
      @apply bg-slate-300 px-3 py-1 rounded-md dark:bg-slate-600;
    }
  </style>

  <!-- scripts -->
  <script>
    import "../scripts/themeToggle";
  </script>
</html>
