---
import "../styles/global.css";
const { pageTitle, blogTitle } = Astro.props;
const currentPath =
  Astro.url.pathname.slice(-1) === "/" && Astro.url.pathname.length > 1
    ? Astro.url.pathname.slice(0, -1)
    : Astro.url.pathname;
---

<html lang="en">
  <head>
    <!-- Prevent Flash of Unstyled Content (FOUC)  -->
    <script>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/kb16.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Homepage | iaaron</title>
  </head>

  <body class="grid grid-cols-12">
    <!-- Navigation Bar -->
    <nav class="col-span-2">
      <div>
        <a
          href="/"
          class={currentPath === "/" && "font-bold text-black dark:text-white"}
          >home</a
        >
        <a
          href="/about"
          class={currentPath === "/about" &&
            "font-bold text-black dark:text-white"}>about</a
        >
        <a
          href="/blog"
          class={currentPath === "/blog" &&
            "font-bold text-black dark:text-white"}>blog</a
        >
      </div>
      <div class="mt-auto mr-auto">
        <button id="theme-toggle"> M </button>
      </div>
    </nav>

    <main class="col-span-10">
      <!-- show current path -->
      {currentPath !== "/" && <p class="mb-2">{currentPath}</p>}

      <!-- Titles: Renders bases if it's for a page title or blog title -->
      {pageTitle && <h1>{pageTitle}</h1>}
      {blogTitle && <h1 class="text-6xl">{blogTitle}</h1>}

      <!-- Content -->
      <slot />
    </main>
  </body>

  <!-- Styles -->
  <style is:global>
    /* global styles */
    * {
      box-sizing: border-box;
      /* border: 1px solid red; */
    }
    html,
    body {
      height: 100vh;
      width: 100%;
      margin: 0;
    }
    body {
      @apply font-mono bg-slate-100 dark:bg-night dark:text-slate-100;
    }
    /* component classes */
    nav {
      @apply flex flex-col h-screen font-mono p-10;
    }
    nav a {
      @apply px-6 mx-0;
    }
    nav a:hover {
      @apply text-black dark:text-white;
    }
    nav div {
      @apply flex flex-col;
    }
    main {
      @apply border-none p-10 w-full h-screen overflow-y-auto;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sentient-regular mt-6 mb-2;
    }
    h1 {
      @apply font-sentient-regular mb-10 text-8xl;
    }
    h2 {
      @apply text-4xl leading-normal;
    }
    h3 {
      @apply text-3xl;
    }
    p {
      @apply text-slate-500 dark:text-slate-400;
    }
    a {
      @apply font-mono text-slate-500 hover:text-slate-900 dark:text-slate-400 dark:hover:text-white;
    }
    button {
      @apply bg-slate-300 px-3 py-1 rounded-md dark:bg-slate-600;
    }
  </style>

  <!-- scripts -->
  <script>
    import "../scripts/themeToggle";
  </script>
</html>
