---
import BaseLayout from "./BaseLayout.astro";
import "../styles/global.css";
const { frontmatter } = Astro.props;
---

<BaseLayout blogTitle={frontmatter.title}>
  <div class="w-1/2 md:w-2/3">
    <h2 class="text-slate-500 text-2xl md:text-3xl">
      {frontmatter.description}
    </h2>
    <section class="flex flex-col items-center">
      <div class="my-16 self-start">
        <p class="text-sm font-mono">
          Publication date: {frontmatter.pubDate.toString().slice(0, 10)}
        </p>
        {
          frontmatter.upDate && (
            <p class="text-sm font-mono">
              Updated: {frontmatter.upDate.toString().slice(0, 10)}
            </p>
          )
        }
      </div>
      {
        frontmatter.image.url && (
          <div class="mr-auto">
            <img
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
              class="w-1/2"
            />
          </div>
        )
      }
    </section>

    <section class="mt-16 font-inter-regular text-lg markdown-content">
      <slot />
    </section>
  </div>
</BaseLayout>
